<a ng-href="#">Home</a>

<p><input type="text" data-ng-model="rest.name"></p>
<p><input type="text" data-ng-model="rest.image" placeholder="imageURL"></p>
<p><input type="text" data-ng-model="rest.number" placeholder="phone number"></p>
<p><input type="text" data-ng-model="rest.address" placeholder="address"></p>
<p><input type="text" data-ng-model="rest.site" placeholder="website"></p>
<p><textarea data-ng-model="rest.content"></textarea></p>
<p><button data-ng-click="createRest(rest)">Create</button></p>
