SHOW MENU <a ng-href="#">Home</a>
<div class="show">
<section class="info">
    <h1>{{rest.name}}</h1>
    <p>{{rest.number}}</p>
    <p>{{rest.address}}</p>
    <p>{{rest.site}}</p>

    <a href="#/rests/{{rest._id}}/edit">Edit</a> |
    <a href="#/rests/{{rest._id}}/editMenu">Edit MENU</a>  | <a ng-click="deleteRest(rest._id)">Delete</a>
</section>

    <div class="menuItems">
      <section ng-repeat="item in rest.menu">
        <p><span>{{item.name}}</span> {{item.price}} {{item.vote}} <button ng-click="addVote(vote)"></button></p>
        <button ng-click="deleteItem($index)">delete</button>

      </section>
    </div>
</div>
