<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Admin Logout</a></li>
    <li><a href="#/rests/new" class="navButt">Create New Restaurant</a></li>
    <li><a ng-href="#/userlist">User List</a></li>

  </ul>
</div>

<div class="jumbotron"><br><br>
  <h1><img class="logo" src="../images/logo.png" width="350" data-ng-click="getSample()"></h1>
     </button>
    <h1><a href="#/rests/{{randomRest._id}}">{{randomRest.name}}</a></h1>

<h1 id="scrollButt">
        <i class="fa fa-angle-double-down"></i>
    </h1>

</div>

<div class="row" id="scroll" style="margin:0;">
            <input class="search" type="text" ng-model="search" placeholder="SEARCH RESTAURANTS">
            <div class="restWrap col-xs-12">
                <div ng-repeat="rest in rests | filter: search">

                    <div class="restBlock col-md-3">
                        <a class="restName" href="#/rests/{{rest._id}}">
                        <div class="restBox" style="background-image:url({{rest.image}})">

                            <span>{{rest.name}}</span>


                    </div>
                </a>
                    <i ng-click="addToList(rest); changeClass()" ng-disabled="disabled" class="fa fa-plus-square addTo"></i>
                    </div>


                </div>


            </div>
        </div>
    </div>
