<div class="offCanvas" ng-click="isActive = !isActive"  ng-class="{'active': isActive == true}"><div class="tagCan" style="background-color:rgba(255,0,0,.7);" >
    <ul>
        <li>ADMIN MENU</li>
            <li><a ng-href="#/userlist">Dine List <i class="fa fa-cutlery"></i></a></li>
            <li><a href="#/rests/new" class="navButt">Create New Restaurant</a></li>
            <li><a ng-href="#">Admin Logout</a></li>
        </ul>
        <a href="#/admin"><img src="../images/logo.png"></a>
    </div>
    <i style="color:red" class="fa fa-caret-right tag"></i>
</div>

    <div class="jumbotron"><br><br>

    <a href="" data-toggle="modal" data-target="#infoModal"><i style="position:absolute; top:5px; left:5px; font-size:1.5em;" class="fa fa-question-circle"></i></a>

    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modalBox" style="text-align:center;">
                <p>"Where do you want to eat?"</p>
                <p>"I don't know. Where do you want to go?"</p>
                <p>"I don't care. What are you in the mood for?"</p>
                <hr>
                <p>Sound familiar?
                    DineTime is a web application built to help get rid of this dialogue once and for all. To start, click on the logo and a restaurant will be randomly chosen for you. Or, check out the restaurant list below and add restaurants to your dine list by pressing the <i class="fa fa-plus-square"></i> button underneath the restaurant.</p>
                    <p>Check out the green triangle on your left for more info. Use the search bar to find restaurants with desired characteristics (i.e. "dog friendly", "fries", "okonomiyaki").</p>
                    <p style="color:rgb(0, 187, 255); font-weight:bold" data-dismiss="modal">Let's eat.</p>
                </div>
            </div>
        </div>



        <h1><img class="logo" src="../images/logo.png" data-ng-click="getSample(); randomPhrase()" data-toggle="modal" data-target="#ranModal"></h1>

        <div class="priceFilter"><p>How much do you want to spend?<br>

        <input type="radio" id="radio1" name="filter" ng-click="filteredCost = 1"><label for="radio1"><i class="fa fa-money fa-lg"></i></label>&nbsp;&nbsp;
        <input type="radio" id="radio2" name="filter" ng-click="filteredCost = 2"><label for="radio2"><i class="fa fa-money fa-2x"></i></label>&nbsp;&nbsp;
        <input type="radio" id="radio3" name="filter" ng-click="filteredCost = 3"><label for="radio3"><i class="fa fa-money fa-3x"></i></label>&nbsp;&nbsp;<input type="radio" id="radio4"  name="filter" ng-click="filteredCost = 0"> <label for='radio4' id="radio4">Money <br>is <br>no<br> object </label>
        </p>
        </div>


                            <div class="modal fade" id="ranModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content modalBox">
                                        <a href="#/user/{{randomRest._id}}" ng-click="hideModal()"> <h1>{{randomRest.name}}</a>{{randomPhrase}}</h1> <i style="float:right;" data-ng-click="getSample(); randomPhrase()">Try something else? </i>
                                    </div>
                                </div>
                            </div>
                            <h1><i id="scrollButtBot" class="fa fa-angle-double-down"></i></h1>
                        </div>


    <div id="alert"></div>


<div class="divider"  id="scroll">

<h1 style="text-align:center;">YOU ARE CURRENTLY IN ADMIN MODE.</h1>
</div>
    <div class="row" style="margin:0;">
        <input class="search" type="text" ng-model="search" placeholder="SEARCH RESTAURANTS/MENU ITEMS?">
        <div class="restWrap" >
            <div ng-repeat="rest in rests | filter: search">
                <div class="restBlock col-md-4">
                    <a class="restName" href="#/rests/{{rest._id}}">

                        <div class="restBox" style="background-image:url({{rest.image}})">
                            <span>{{rest.name}}
                            </span>
                        </div>
                    </a>
                        <i  ng-click="addToList(rest); changeClass(); addAlert();" ng-disabled="disabled" class="fa fa-plus-square fa-lg addTo"></i>
                </div>
            </div>
        </div>
    </div>
</div>
