<div class="offCanvas" ng-click="isActive = !isActive"  ng-class="{'active': isActive == true}"><div class="tagCan" style="background-color:rgba(255,0,0,.7);" >
    <ul>
        <li><a href="" ng-click="isCollapsed = !isCollapsed">Sign In <i class="fa fa-user"></i></a>
            <div collapse="isCollapsed">
                <form ng-submit="login(username, password)">
                    <p>User: <input type="text" ng-model="username" class="ng-pristine ng-valid"></p>
                    <p>Pass: <input type="password" ng-model="password" class="ng-pristine ng-valid"></p>
                    <button type="submit"><i class="fa fa-check-square"></i></button>
                    <br/>{{loginError}}
                </form>
            </div></li>
            <li><a ng-href="#/userlist">Dine List <i class="fa fa-cutlery"></i></a></li>
            <li><a href="#/rests/new" class="navButt">Create New Restaurant</a></li>
            <li><a ng-href="#">Admin Logout</a></li>
        </ul>
        <a href="#/admin"><img src="../images/logo.png"></a>
    </div>
    <i style="color:red" class="fa fa-caret-right tag"></i>
</div>

    <div class="jumbotron"><br><br>
        <h1><img class="logo" src="../images/logo.png" data-ng-click="getSample(); randomPhrase()" data-toggle="modal" data-target="#ranModal"></h1>

        <div class="modal fade" id="ranModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content modalBox">
                    <a href="#/rests/{{randomRest._id}}" ng-click="hideModal()"> <h1>{{randomRest.name}}</a>{{randomPhrase}}</h1> <i data-ng-click="getSample(); randomPhrase()">Try something else? </i>
                </div>
            </div>
        </div>

        <h1><i id="scrollButt" class="fa fa-angle-double-down"></i></h1>

    </div>



    <div id="alert"></div>

    <div class="row" id="scroll" style="margin:0;">
        <input class="search" type="text" ng-model="search" placeholder="SEARCH RESTAURANTS/MENU ITEMS">
        <div class="restWrap col-xs-12">
            <div ng-repeat="rest in rests | filter: search">

                <div class="restBlock col-md-3">
                    <a class="restName" href="#/rests/{{rest._id}}">
                        <div class="restBox" style="background-image:url({{rest.image}})">

                            <span>{{rest.name}}</span>


                        </div>
                    </a>
                    <i ng-click="addToList(rest); changeClass(); addAlert()" ng-disabled="disabled" class="fa fa-plus-square addTo"></i>
                </div>
            </div>
        </div>
    </div>
</div>
