<div id="search"><i class="fa fa-search"></i> <input type="text" class="searchBar" ng-model="search" placeholder="SEARCH ANYTHING"></div>

                            <!-- SIDE MENU START -->

    <div class="offCanvas"  ng-class="{'active': isActive == true}"><div class="tagCan">
        <ul>
            <li><a href="" ng-click="isCollapsed = !isCollapsed">Sign In <i class="fa fa-user"></i></a>
                <div collapse="isCollapsed">
                    <form ng-submit="login(username, password)">
                        <p>User: <input type="text" ng-model="username" class="ng-pristine ng-valid"></p>
                        <p>Pass: <input type="password" ng-model="password" class="ng-pristine ng-valid"></p>
                        <button type="submit"><i class="fa fa-check-square"></i></button>
                        <br/>{{loginError}}
                    </form>
                </div></li>
                <li><a ng-href="#/userlist" ng-click="hideModal()">Dine List <i class="fa fa-cutlery"></i> ({{userList.length}})</a></li>
                <li>
                    <a href="" ng-click="isCollapse = !isCollapse">Contact <i class="fa fa-paper-plane"></i></a>
                    <div collapse="isCollapse">
                        <p>Hello! Thanks for checking my app out. Contact me at: </p><p><a href="mailto:charles.qh.nguyen@gmail.com">charles.qh.nguyen@gmail.com</a></p>
                    </div>

                </li>
            </ul>
            <a href="#"><img src="../images/logo.png"></a>
        </div>
        <i class="fa fa-caret-right tag" ng-click="isActive = !isActive"></i>
    </div>
                            <!-- end sidemenu -->


    <div class="jumbotron"><div class="covered"><br><br>

        <a href="" data-toggle="modal" data-target="#infoModal"><i style="position:absolute; top:5px; left:5px; font-size:1.5em;" class="fa fa-question-circle"></i></a>

        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content modalBox" style="text-align:center;">
                    <p>"Where do you want to eat?"</p>
                    <p>"I don't know. Where do you want to go?"</p>
                    <p>"I don't care. What are you in the mood for?"</p>
                    <hr>
                    <p>Sound familiar?
                        Dine Time is a web application built to help get rid of this dialogue once and for all. To start, click on the logo and a restaurant will be randomly chosen for you. Or, check out the restaurant list below and add restaurants to your dine list by pressing the <i class="fa fa-plus-square"></i> button underneath the restaurant.</p>
                        <p>Check out the green triangle on your left for more info. Use the search bar to find restaurants with desired characteristics (i.e. "dog friendly", "fries", "okonomiyaki").</p>
                        <p style="color:rgb(0, 187, 255); font-weight:bold" data-dismiss="modal">LET'S EAT.</p>
                    </div>
                </div>
            </div>



            <h1><img class="logo" src="../images/logo.png" data-ng-click="getSample(); randomPhrase()" data-toggle="modal" data-target="#ranModal"></h1>

            <div class="priceFilter"><p><span>Pick your budget:</span><br>

            <input type="radio" id="radio1" name="filter" ng-click="filteredCost = 1"><label for="radio1"><i class="fa fa-money fa-lg"></i></label>&nbsp;&nbsp;
            <input type="radio" id="radio2" name="filter" ng-click="filteredCost = 2"><label for="radio2"><i class="fa fa-money fa-2x"></i></label>&nbsp;&nbsp;
            <input type="radio" id="radio3" name="filter" ng-click="filteredCost = 3"><label for="radio3"><i class="fa fa-money fa-3x"></i></label>&nbsp;&nbsp;<input type="radio" id="radio4"  name="filter" ng-click="filteredCost = 0"> <label for=radio4 id="radio4">Money <br>is <br>no<br> object </label>
            </p>
            </div>


                                <div class="modal fade" id="ranModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content modalBox">
                                            <a href="#/user/{{randomRest._id}}" ng-click="hideModal()"> <h1>{{randomRest.name}}</a>{{randomPhrase}}</h1> <i style="float:right;" data-ng-click="getSample(); randomPhrase()">Try something else? </i>
                                        </div>
                                    </div>
                                </div>
                                <h1><i id="scrollButtBot" class="fa fa-angle-double-down"></i></h1>
                            </div>
                        </div>


        <div id="alert"></div>

<div class="divider" id="scroll"></div>
        <div class="row" style="margin:0;">
            <h1>Still can't decide? No problem.</h1>
            <input class="search" type="text" ng-model="search" placeholder="SEARCH RESTAURANTS/MENU ITEMS">

            <div class="restWrap" >
                <div ng-repeat="rest in rests | filter: search">
                    <div class="restBlock col-md-4"  style="background-image:url({{rest.image}})">
                        <div class="restFilter">
                        <a class="restName" href="#/user/{{rest._id}}">

                            <div class="restBox">
                                <span>{{rest.name}}
                                </span>
                            </div>
                        </a>
                            <i  ng-click="addToList(rest); changeClass(); addAlert();" ng-disabled="disabled" class="fa fa-plus-square fa-lg addTo"></i>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
