doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
        meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    body(ng-app= ngApp )
        block content
        script(src='/components/underscore/underscore-min.js')
        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        script(src='/components/angular/angular.min.js')
        script(src='/components/angular-cookies/angular-cookies.min.js')
        script(src='/components/angular-sanitize/angular-sanitize.min.js')
        script(src='/components/angular-route/angular-route.min.js')
        script(src='/components/angular-animate/angular-animate.min.js')
        script(src='/components/angular-bootstrap/ui-bootstrap.min.js')
        script(src='/components/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script(src='/components/bootstrap/js/modal.js')
        script(src='/app.js')
        script(src='/homeCtrl.js')
        script(src='/restaurants/rests.js')
        script(src='/restaurants/restsController.js')
        script(src='/restaurants/restsService.js')
