$blue: rgba(80,120,201,.8);
$blueL: rgba(0,187,255, 1);
$green: rgba(80,201,35,1);
$clear: rgba(0,0,0,.001);
$font1: "Merriweather";
$font2: "Oswald";

body {
  font: 14px "Merriweather", Helvetica, sans-serif;
  margin:0;
  padding:0;
/*   background-image:url("../images/subtle_carbon.png"); */
  background-color:white;
  input, textarea {
      color:black;
  }
p {
    margin:0;
    color:black;
}
  h1 {
      color:black;
  }
}


::selection {
  background: $green;
    }


.hidden {
    width:100%;
    height:300px;
    background-color:black;
    text-align:center;
    opacity:1;
    transition:all ease .5s;
}

.tawpWrap {
    text-align: center;
    z-index:0;
    img {
        margin-top:10%;
        left:28%;
        opacity:.5;
        position:fixed;
    }
}

a {
    color:white;
}

a:hover {
    color:$blue;
}

button {
    background-color:$clear;
    border:none;
    color:white;
}

button:hover {
    background-color: rgba(255,255,255,.5)
}

.modalBox {
    width:100%;
    color:white;
    font-family:$font1;
    background-color:rgba(0,0,0,.5);
    p {
        color:white;
    }
    a {
        color:$blueL;
        font-weight:bolder;
    }
    i:hover {
      cursor:pointer;
      color:$blue;
    }
}

::-webkit-scrollbar {
    display:none;
}


.alert {
    position: fixed;
    top:50px;
    text-align:center;
    border-radius:4px;
    background-color:rgba(80,201,35,.7);
    color:white;
    z-index:9999;
    width:100%;
}


.jumbotron {
    background: url("../images/rest1.png") no-repeat center center fixed;
    width:100%;
    height:1000px;
    margin:0; padding: 0;
    background-size:cover;
    color:white;
    h1 {
        text-align:center;
        margin-top:40px;
    }
    input[type=radio] {
        display:none;
        margin-left:30px;

    }

    input[type=radio] + label {
        background-color: none;
    }
    input[type=radio]:checked + label {
        color:$green;
        opacity:1;
    }

}

.priceFilter {
    font-family:$font1;
    text-align:center;
    width:100%;
    bottom:120px;
    margin-left:auto; margin-right:auto; left:0; right:0;
    label {
        cursor:pointer;
        opacity:.7;
        color:white;
        vertical-align:middle;
    }
    label:hover  {
        opacity:1;

    }
    #radio4 {
        line-height:14px;
        font-size:.8em;
    }
    span {
        font-family:$font2;
        font-weight:lighter;
        opacity:.8;
        color:white;
    }

}




.logo {
    opacity:.7;
    transition:all .5s ease;
    width:400px;
    top:100px;
    margin-left:auto; margin-right:auto; left:0; right:0;
    border:1px rgba(255,255,255,.001) double;
    border-radius:50%;
    padding:15px;
}

.logo:hover {
    opacity:1;
    cursor:pointer;
    border:8px white double;
    border-radius:100%;
    background-color:rgba(255,255,255,.08);
}

.divWrap {
    background-color:white;
}

.row {
    background-color:white;
    padding-left:100px;padding-right:100px;padding-bottom:100px;
    text-align:center;
/*     height:650px; */
    h1 {
        font-style:italic;
        color:gray;
        font-size:2em;
        opacity:.5;
        padding:10px;
        padding-top:35px;
    }
}

.restWrap {
    width:100%;
    height:650px;
    background-color:rgba(255,255,255,1);

}

.restBlock {
    text-align:center;
    padding:0;
    color:rgba(255,255,255,.4);
    font-size:2.2em;
    opacity:1;
    background-size:cover;
    font-family:$font2;
    transition:all .5s ease;
    a {
        text-decoration:none;
        color:black;
    }
    span {
        transition:all .5s ease-in-out;
        position:relative;
        top:110px;
        color: white;
        text-shadow:
        -.5px -.5px 0 black,
        .5px -.5px 0 black,
        -.5px .5px 0 black,
        .5px .5px 0 black;
    }

}


.restBox {
    background-color:rgba(0,0,0,.4);
    height:300px;
    padding:0;
    border:15px white solid;
    transition:all .2s ease-in-out;
/*     background-size:cover; */
}

.restBox:hover {
    background-color:rgba(0,0,0,.01);
    border:10px white solid;
}

#scrollButtTop, #scrollButtBot {
    font-size:1em;
    opacity:.7;
    position:absolute;
    margin-left:auto; margin-right:auto; left:0; right:0;
    bottom:10px;
    transition:all .5s ease;
}

#scrollButtTop:hover, #scrollButtBot:hover {
    cursor:pointer;
    opacity:1;
    transform: translateY(-10px);
}




#search, .search {
    font-family:"Oswald";
    width: 100%;
    background-color:rgba(255,255,255,1);
    color:$green;
    font-size:1.5em;
    display:none;
    z-index:9999;
    text-align:center;
    border:none;
    i {
        margin-left:40%;
        margin-right:10px;
        font-size:1.2em
    }
}

#search {
    position:fixed;
    top:50;
    width:100%;
}
#search:focus {
    display:none;
}
.searchBar {
    border: none;
    height:50px;
    width:50%;
}


/////SIDE MENU
.offCanvas {
    position:fixed;
    width:275px;
    height:300px;
    left:-245px;
    z-index:9999;
    top:25%;
    transition:all .5s ease;
    color:white;
    button {
        i {
            font-size:2em;
        }
    }
    .tag {
        opacity:1;
        display:inline-block;
        float:right;
        font-size:6em;
        margin-top:120px;
        color:$green;
    }
    input {
        background-color:$clear;
        border:none;
        border-bottom:1px white solid;
        width:100px;
        color:white;
    }
    form {
        padding:5px;
        background-color:rgba(0,0,0,.5);
        z-index:3;
    }
    i:hover {
        cursor:pointer;
    }
    ul {
        margin:0; padding: 0;
        li {
            text-align:center;
            width:100%;
            border-top:1px white solid; border-bottom:1px white solid;
            list-style-type:none;
            padding:10px;
        }
    }
}

.tagCan {
    width:89%;
    display:inline-block;
    height:100%;
    border-right:1px white solid; border-bottom:1px white solid;
    background-color:rgba(0,0,0,.8);
    margin: 0; padding: 0;
    img {
        width:50%;
        position:absolute;
        bottom:0;
        margin-left:19%;
    }
}
///////END SIDE MENU

///show
.show{
    width:100%;
    background-size:cover;
}

.menuNotes {
    text-align:center;
    color:black;
    position:fixed;
    bottom:0px;
    height:80px;
    width:100%;
    padding:20px;
    background-color:white;
    font-size:.8em;
    i:hover {
        color:$blueL;
        cursor:pointer;
    }
}

.odd {
    background-color:rgba(211,211,211,.2);
    padding:0; margin: 0;
}

.info {
    top:0px;
    text-align:center;
    font-family:$font2;
    position:fixed;
    width:100%;
    z-index:5;
    background-color:white;

    h1 {
        font-family:$font2;
        text-transform:uppercase;
        font-weight:lighter;
        margin:0;
        color:rgba(0,0,0,1);
        padding:5px;
    }
    a {
        color:black;

    }
    a:hover {
        color:$green;
        text-decoration:none;
    }
    .filters {
        text-align:center;
        width:100%;
        padding:5px;
        background-color:white;
        a {
            color:$green;
            font-weight:bolder;
            margin-left:10px;
            text-decoration:underline;
        }
        i {
            margin-left:10px;
        }
        input {
            width:150px;
            background-color:rgba(0,0,0,.001);
            border:none;
            border-bottom:1px black solid;
        }
    }
}

.menuItems {
    font-family:$font2;
    margin-top:135px;
    position:relative;
    top:0px;
    margin-bottom:80px;
    margin-left:100px;
    margin-right:100px;
    background-color:rgba(0,0,0,.03);

/*     overflow:auto; */
    span {
        font-size:1.3em;
        font-weight:bolder;
    }
    button {
        color:black;
    }
    i {
        font-size:1.5em;
    }
    h2 {
        margin:15px;
        padding:5px;
        text-align:center;
        border-top:2px black solid;
        border-bottom:2px black solid;
    }
}

.thumbUp, .thumbDown {
    background-color:$clear;
    font-size:1em;
    margin: 0; padding:0;
    border: none;
}

.thumbUp {
    color:green;
}

.thumbDown {
    color:red;
}

section {
    display:inline-block;
    width:100%;
    vertical-align:top;
    letter-spacing:1px;
    button {
        padding:0;
    }
    .votes, .name, .price {
        display:inline-block;
    }
    .votes {
        text-align:center;
        width:55px;
        float:left;
        padding-bottom:7px; padding-top:7px;
        font-size:.7em;
    }
    .name {
        width:80%;
        vertical-align:top;
        margin:5px;
        font-weight:lighter;
    }
    .price {
        float:right;
        font-weight:bolder;
        font-size:1.2em;
        margin:5px;
    }
}

.listWrap {
position:absolute;
top:200px;

.listBox {
    opacity:.8;
    border:none;
    margin:10px;
    border-radius:100%;
    .restBox:hover{
        border:none;


    }
}
}
///edit
.edit {
    button {
        background-color:red;
        border:1px;
        border-radius:10px;
    }
    i {
        color: green;
        font-size:1.5em;
    }
    i:hover {
        color: rgba(0,220,0,.9);
        cursor:pointer;
    }
     button:hover{
        background-color:rgba(220,0,0,.9);

    }
    h2 {
        color:black;
    }
    span {
        color:rgba(220,0,0,.9)
    }
}

.addTo {
    position: absolute;
    color:white;
    bottom: 35px;
    left: 47%;
    font-size:3em;
}
.addTo:hover {
    color:$blueL;
    cursor:pointer;
}


////////////////////////////////Media queries

                          @media screen and (min-width:0) and (max-width:981px) {

                        ::-webkit-scrollbar {
                            display:block;
                        }

                        ::-webkit-scrollbar-thumb {
                            background-color:black;
                            border: 3px black solid;
                            border-radius:5px;
                            height:5px;
                        }

                        .logo {
                            width:300px;
                            top:10px;
                        }

                        .divider, #scrollButtTop, #scrollButtBot, #scroll, #search, .tawpWrap {
                            display:none;
                        }


                        .jumbotron {
                            height:550px;
                            background-image:url("../images/rest1.png");
                            background-repeat: initial;
                            background-size: initial;

                        }

                        .row {
                            padding:0px;
                            background-color:white;
                            h1 {
                                display:none;
                            }
                        }


                        .restWrap {
                            padding:0;
                            height:0;
                        }

                        .search {
                            font-size:1em;
                            display:block;
                            height:50px;
                        }

                        #search {
                            opacity:.001;
                            height:.001px;
                        }

                        .priceFilter {
                            bottom:100px;
                        }

                        .modalBox {
                            margin-top: 45%;
                        }

                        .active {
                            left:0;
                        }

                        .restBlock {
                            opacity:1;
                            border:none;
                            -webkit-filter: none;

                        }

                        .restBox {
                            margin:0px;
                            border:15px white solid;
                            span {
                                font-weight:bolder;
                            }
                        }

                        .info {
                            position:relative;
                        }

                        .menuItems {
                            width:100%;
                            margin-bottom:0px;
                            margin-top:25px;
                            margin-left:0px;
                            margin-right:0px;
                        }

                        section {
                            .name {
                                width:75%;
                            }
                            .votes {
                                padding-top:10px;
                            }
                        }


                        .show, .list, .edit, {
                            position:relative;
                            background-size:.001%;
                        }

                        .offCanvas {
                            top:25px;
                        }

                        .menuNotes {
                            position:relative;
                        }


                        }
                          @media screen and (min-width:982px) {

                        .offCanvas:hover {
                            left:0;
                        }

                        .slide {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                        }
                        .slide.ng-enter,
                        .slide.ng-leave {
                            -webkit-transition: all 1s ease;
                            -moz-transition: all 1s ease;
                            -o-transition: all 1s ease;
                            transition: all 1s ease;
                        }
                        .slide.ng-enter {
                            left: 100%;
                        }
                        .slide.ng-enter-active {
                            left: 0;
                        }
                        .slide.ng-leave {
                            left: 0;
                        }
                        .slide.ng-leave-active {
                            left: -100%;
                        }

                        .restBlock:hover {
                            color:rgba(255,255,255,1);
                                span {
                                text-decoration:none;

                                }
                            }

                        .menuItems {
                            height:70%;
                        }

                        .restBlock {
                            opacity:1;
                            border:none;
                            position:relative;
                        }


                        }
