body {
  font: 14px "Merriweather", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /*   background-image:url("../images/subtle_carbon.png"); */
  background-color: white; }
  body input, body textarea {
    color: black; }
  body p {
    margin: 0;
    color: black; }
  body h1 {
    color: black; }

.col-centered {
  float: none;
  margin: 0 auto; }

::selection {
  background: #50c923; }

.hidden {
  width: 100%;
  height: 300px;
  background-color: black;
  text-align: center;
  opacity: 1;
  transition: all ease .5s; }

.tawpWrap {
  text-align: center;
  z-index: 0; }
  .tawpWrap img {
    margin-top: 10%;
    opacity: .4;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }

a {
  color: white; }

a:hover {
  color: rgba(80, 120, 201, 0.8); }

button {
  background-color: rgba(0, 0, 0, 0.001);
  border: none; }

button:hover {
  background-color: rgba(255, 255, 255, 0.5); }

.modalBox {
  width: 100%;
  color: white;
  font-family: "Merriweather";
  background-color: rgba(0, 0, 0, 0.5); }
  .modalBox h1 {
    font-weight: lighter; }
  .modalBox p {
    color: white; }
  .modalBox a {
    color: #50c923;
    font-weight: bold; }
  .modalBox i:hover {
    cursor: pointer;
    color: rgba(80, 120, 201, 0.8); }

::-webkit-scrollbar {
  display: none; }

.alert {
  position: fixed;
  top: 50px;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(80, 201, 35, 0.7);
  color: white;
  z-index: 9999;
  width: 100%; }

.jumbotron {
  background: url("../images/rest1.png") no-repeat center center fixed;
  width: 100%;
  height: 1200px;
  margin: 0;
  padding: 0;
  background-size: cover;
  color: white; }
  .jumbotron h1 {
    text-align: center;
    margin-top: 40px; }
  .jumbotron input[type=radio] {
    display: none;
    margin-left: 30px; }
  .jumbotron input[type=radio] + label {
    background-color: none; }
  .jumbotron input[type=radio]:checked + label {
    color: #50c923;
    opacity: 1; }

.priceFilter {
  font-family: "Merriweather";
  text-align: center;
  width: 100%;
  bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }
  .priceFilter label {
    cursor: pointer;
    opacity: .7;
    color: white;
    vertical-align: middle; }
  .priceFilter label:hover {
    opacity: 1; }
  .priceFilter #radio4 {
    line-height: 14px;
    font-size: .8em; }
  .priceFilter span {
    font-family: "Oswald";
    font-weight: lighter;
    opacity: .8;
    color: white;
    letter-spacing: 2px; }

.logo {
  opacity: .7;
  transition: all .5s ease;
  width: 400px;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 1px rgba(255, 255, 255, 0.001) double;
  border-radius: 50%;
  padding: 15px; }

.logo:hover {
  opacity: 1;
  cursor: pointer;
  border: 4px white solid;
  border-radius: 100%;
  /*     background-color:rgba(255,255,255,.08); */ }

.divWrap {
  background-color: white; }

.row {
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  text-align: center;
  /*     height:650px; */ }
  .row h1 {
    font-style: italic;
    color: gray;
    font-size: 2em;
    opacity: .5;
    padding: 10px;
    padding-top: 35px; }

.restWrap {
  width: 100%;
  height: 850px;
  background-color: white; }

.restBlock {
  text-align: center;
  padding: 0;
  color: rgba(255, 255, 255, 0.4);
  font-size: 2.2em;
  opacity: 1;
  background-size: cover;
  font-family: "Oswald";
  transition: all .5s ease; }
  .restBlock a {
    text-decoration: none;
    color: black; }
  .restBlock span {
    transition: all .5s ease-in-out;
    position: relative;
    top: 110px;
    letter-spacing: 2px;
    color: white;
    text-shadow: -.5px -.5px 0 black, .5px -.5px 0 black, -.5px .5px 0 black, .5px .5px 0 black; }

.restBox {
  background-color: rgba(0, 0, 0, 0.4);
  height: 300px;
  padding: 0;
  border: 15px white solid;
  transition: all .2s ease-in-out;
  /*     background-size:cover; */ }

.restBox:hover {
  background-color: rgba(0, 0, 0, 0.01);
  border: 10px white solid; }

#scrollButtTop, #scrollButtBot {
  font-size: 1em;
  opacity: .7;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: all .5s ease; }

#scrollButtTop:hover, #scrollButtBot:hover {
  cursor: pointer;
  opacity: 1;
  transform: translateY(-10px); }

#search, .search {
  font-family: "Oswald";
  width: 100%;
  background-color: white;
  color: #50c923;
  font-size: 1.5em;
  display: none;
  z-index: 9999;
  text-align: center;
  border: none; }
  #search i, .search i {
    margin-left: 40%;
    margin-right: 10px;
    font-size: 1.2em; }

#search {
  position: fixed;
  top: 50;
  width: 100%; }

#search:focus {
  display: none; }

.searchBar {
  border: none;
  height: 50px;
  width: 50%; }

.offCanvas {
  position: fixed;
  width: 275px;
  height: 300px;
  left: -245px;
  z-index: 9999;
  top: 25%;
  transition: all .5s ease;
  color: white; }
  .offCanvas button i {
    font-size: 2em; }
  .offCanvas .tag {
    opacity: 1;
    display: inline-block;
    float: right;
    font-size: 6em;
    margin-top: 120px;
    color: #50c923; }
  .offCanvas input {
    background-color: rgba(0, 0, 0, 0.001);
    border: none;
    border-bottom: 1px white solid;
    width: 100px;
    color: white; }
  .offCanvas form {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3; }
    .offCanvas form p {
      color: white; }
  .offCanvas i:hover {
    cursor: pointer; }
  .offCanvas ul {
    margin: 0;
    padding: 0; }
    .offCanvas ul li {
      text-align: center;
      width: 100%;
      border-top: 1px white solid;
      border-bottom: 1px white solid;
      list-style-type: none;
      padding: 10px; }

.tagCan {
  width: 89%;
  display: inline-block;
  height: 100%;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0; }
  .tagCan img {
    width: 50%;
    position: absolute;
    bottom: 0;
    margin-left: 19%; }

.show {
  width: 100%;
  background-size: cover; }

.menuNotes {
  text-align: center;
  color: black;
  position: fixed;
  bottom: 0px;
  height: 75px;
  width: 100%;
  padding: 10px;
  background-color: white;
  font-size: .8em; }
  .menuNotes i:hover {
    color: #00bbff;
    cursor: pointer; }

.odd {
  background-color: rgba(211, 211, 211, 0.2);
  padding: 0;
  margin: 0; }

.info {
  top: 0px;
  text-align: center;
  font-family: "Oswald";
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white; }
  .info h1 {
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
    color: black;
    padding: 5px; }
  .info a {
    color: black; }
  .info a:hover {
    color: #50c923; }
  .info .filters {
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: white; }
    .info .filters a {
      color: #50c923;
      font-weight: bolder;
      margin-left: 10px; }
    .info .filters a:hover {
      text-decoration: underline; }
    .info .filters i {
      margin-left: 10px; }
    .info .filters input {
      width: 150px;
      background-color: rgba(0, 0, 0, 0.001);
      border: none;
      border-bottom: 1px black solid; }

.menuItems {
  font-family: "Oswald";
  margin-top: 150px;
  top: 0px;
  overflow: auto;
  position: fixed;
  margin-bottom: 80px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(0, 0, 0, 0.03);
  /*     overflow:auto; */ }
  .menuItems span {
    font-size: 1.3em;
    font-weight: bolder; }
  .menuItems button {
    color: black; }
  .menuItems i {
    font-size: 1.5em; }
  .menuItems h2 {
    margin: 15px;
    padding: 5px;
    text-align: center;
    border-top: 2px black solid;
    border-bottom: 2px black solid; }

.thumbUp, .thumbDown {
  background-color: rgba(0, 0, 0, 0.001);
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: none; }

.thumbUp {
  color: green; }

.thumbDown {
  color: red; }

section {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  letter-spacing: 1px; }
  section button {
    padding: 0; }
  section .votes, section .name, section .price {
    display: inline-block; }
  section .votes {
    text-align: center;
    width: 55px;
    float: left;
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: .7em; }
  section .name {
    width: 80%;
    vertical-align: top;
    margin: 5px;
    font-weight: lighter; }
  section .price {
    float: right;
    font-weight: bolder;
    font-size: 1.2em;
    margin: 5px; }

.list {
  font-family: "Oswald"; }
  .list a {
    color: #50c923; }
    .list a h2 {
      font-weight: lighter;
      color: black; }
    .list a h2:hover {
      text-decoration: none; }
      .list a h2:hover span {
        color: #50c923; }
  .list h1 {
    font-weight: lighter; }
    .list h1 span {
      color: #50c923;
      font-weight: bold;
      font-size: 2.8em; }
    .list h1 a:hover {
      text-decoration: none; }

.listWrap {
  position: absolute;
  top: 160px;
  margin: 50px; }
  .listWrap .listBox {
    opacity: .8;
    border: none;
    height: 258px !important;
    border: 5px #50c923 solid;
    margin: 5px; }
    .listWrap .listBox .restBox:hover {
      border: none; }

.edit button {
  background-color: red;
  border: 1px;
  border-radius: 10px; }
.edit i {
  color: green;
  font-size: 1.5em; }
.edit i:hover {
  color: rgba(0, 220, 0, 0.9);
  cursor: pointer; }
.edit button:hover {
  background-color: rgba(220, 0, 0, 0.9); }
.edit h2 {
  color: black; }
.edit span {
  color: rgba(220, 0, 0, 0.9); }

.addTo {
  position: absolute;
  color: white;
  bottom: 35px;
  left: 47%;
  font-size: 3em; }

.addTo:hover {
  color: #00bbff;
  cursor: pointer; }

@media screen and (min-width: 0) and (max-width: 981px) {
  ::-webkit-scrollbar {
    display: block; }

  ::-webkit-scrollbar-thumb {
    background-color: black;
    border: 3px black solid;
    border-radius: 5px;
    height: 5px; }

  .logo {
    width: 300px;
    top: 10px; }

  .divider, #scrollButtTop, #scrollButtBot, #scroll, #search, .tawpWrap {
    display: none; }

  .jumbotron {
    height: 550px;
    background-image: url("../images/rest1.png");
    background-attachment: initial; }

  .row {
    padding: 0px;
    background-color: white; }
    .row h1 {
      display: none; }

  .restWrap {
    padding: 0;
    height: 0; }

  .search {
    font-size: 1em;
    display: block;
    height: 50px; }

  #search {
    opacity: .001;
    height: .001px; }

  .priceFilter {
    bottom: 100px; }

  .modalBox {
    margin-top: 45%; }

  .active {
    left: 0; }

  .restBlock {
    opacity: 1;
    border: none;
    -webkit-filter: none; }

  .restBox {
    margin: 0px;
    border: 15px white solid; }
    .restBox span {
      font-weight: bolder; }

  .info {
    position: relative; }

  .menuItems {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative; }

  section .name {
    width: 75%; }
  section .votes {
    padding-top: 10px; }

  .show, .list, .edit {
    position: relative;
    background-size: .001%; }

  .offCanvas {
    top: 25px; }

  .menuNotes {
    position: relative; } }
@media screen and (min-width: 982px) {
  .offCanvas:hover {
    left: 0; }

  .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

  .slide.ng-enter,
  .slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }

  .slide.ng-enter {
    left: 100%; }

  .slide.ng-enter-active {
    left: 0; }

  .slide.ng-leave {
    left: 0; }

  .slide.ng-leave-active {
    left: -100%; }

  .restBlock:hover {
    color: white; }
    .restBlock:hover span {
      text-decoration: none; }

  .menuItems {
    height: 67%;
    width: 85%; }

  .restBlock {
    opacity: 1;
    border: none;
    position: relative; } }
