body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0px;
  padding:0px;
  }

a {
  color: white;
  opacity: .8;
  font-weight:lighter;
}

.show {
    a {
        color:blue;
    }
}

.jumbotron {
    width:100%;
    height:700px;
    background-image:url("../images/rest1.png");
    background-size:cover;
    color:white;
    h1 {
        text-align:center;
        margin-top:40px;
    }

}

.logo {
    opacity:.7;
    transition:all .5s ease;
}

.logo:hover {
    opacity:1;
}

.restWrap {
    width:100%;
    padding:0px;
    background-color:rgba(0,0,0,.5);

}

.restBlock {
    border:1px blue solid;
    height:250px;
    padding:0px;
    background-size:cover;
    text-align:center;
    color:rgba(255,255,255,.9);
    font-size:2.5em;
    opacity:.7;
    transition:all .5s ease;
    span {
        position:relative;
        top:90px;

    }
}

.addTo {
    position:relative;
    top: 130px;
    width:100%;
    font-size:.8em;
}

.navButt {
    background-color:rgba(0,0,0,.001);
    border-radius:100%;
}


////show

.info {
    text-align:center;
    background-image:rgba(255,255,255,.5);
    color:rgba(255,255,255,.9);
    font-family: 'Open Sans', sans-serif;
    text-shadow: black 0 2px 3px;
}
