<div class="edit">
<a ng-href="#/rests/{{rest._id}}">>>Back</a>
<h1>Add item for {{rest.name}}</h1>
<form action="" ng-submit=addItem(item)>
  <p><input type="text" placeholder="Name" ng-model="item.name"></p>
  <p><textarea name="" id="" cols="30" rows="10" ng-model="item.description"></textarea></p>
  <p><input type="text" ng-model="item.price" placeholder="price"></input></p>
  <p><button>(ADD ITEM)</button></p>
</form>
Edit item
<div class="menuItems">
    <form>
  <section ng-repeat="item in rest.menu track by $index">
    <p>Item: <input type="text" data-ng-model="item.name" placeholder="item name">
    Description: <input type="text" data-ng-model="item.description" style="width:300px" placeholder="Description">
    Price: <input type="number" data-ng-model="item.price" placeholder="Price"> <button ng-click="deleteItem($index)">X</button></p>

  </section>

  </form>

</div>
<button ng-click="editRest(rest)">(Submit Changes)</button>
</div>
