<div class="edit">
<a ng-href="#/rests/{{rest._id}}">Back</a>

<h1><span>{{rest.name}}'s</span> Info</h1>

<p><input type="text" data-ng-model="rest.name"> Name</p><br>

<div><p> How expensive is the restaurant?<br>
    <input type="radio" name="filter" ng-click="rest.cost = 1"> $
    <input type="radio" name="filter" ng-click="rest.cost = 2"> $$
    <input type="radio" name="filter" ng-click="rest.cost = 3"> $$$
    </p>
</div>
<br>
<p><input type="text" data-ng-model="rest.image" placeholder="imageURL"> ImageURL</p>
<p><input type="text" data-ng-model="rest.number" placeholder="phone number"> Phone Number</p>
<p><input type="text" data-ng-model="rest.address" placeholder="address"> Street Address</p>
<p><input type="text" data-ng-model="rest.site" placeholder="website"> Website</p>
<p><textarea data-ng-model="rest.content" placeholder="tags"></textarea> Tags</p>
<br><br>
<p><input type="text" data-ng-model="rest.openTable" placeholder="openTable"> Opentable</p>
<a href="#/rests/{{rest._id}}"><button ng-click="editRest(rest)">(SUBMIT CHANGES)</button></a>
</div>
