<div class="edit">

<a ng-href="#/rests/{{rest._id}}">>>Back</a>
<h1><span>{{rest.name}}'s</span> menus</h1>



<form>
  <p>Add new menu: <input type="text" placeholder="Menu Name" ng-model="menu.type">
  <i ng-click="addMenu(menu)" class="fa fa-plus-circle"></i></p>
</form>

<br>
<form>
    <section ng-repeat="menu in rest.menus track by $index">
    <p>Menu: <input type="text" data-ng-model="menu.type" placeholder="menuname">
    <button ng-click="deleteMenu($index)">X</button></p>
    </section>
</form>
<hr>


<!-- <select name="menuType" ng-model="\$index" ng-options="menu.type for menu in rest.menus">

</select> -->
<p>
<h2>Select menu:</h2>
<div ng-model="menuIndex" ng-repeat="menu in rest.menus track by $index">
<input type="radio" data-ng-model="$parent.menuIndex" value="{{$index}}">
{{rest.menus[$index].type}}
</div>
<hr>
<h2>Currently editing <span>{{rest.menus[menuIndex].type}}</span> menu</h2>
</p>
<form ng-submit="addItem(item)">

  <p><input type="text" placeholder="Name" ng-model="item.name"></p>
  <p><textarea ng-model="item.description" cols="19" rows="5" placeholder="Description"></textarea></p>
  <p><input type="text" placeholder="price" ng-model="item.price"></p>

  <p><i ng-click="addItem(item)" class="fa fa-plus-circle"> Add menu item</i></p>
</form>
<br>


<form>
    <section ng-repeat="item in rest.menus[menuIndex].menu track by $index">
            <p>ITEM {{$index}}: <input type="text" data-ng-model="item.name" placeholder="itemname">
                 <textarea data-ng-model="item.description" cols="60" rows="2" placeholder="Description"></textarea>
                    PRICE: <input style="width:50px;" type="number" data-ng-model="item.price" placeholder="price">
            <button ng-click="deleteItem($index)">X</button></p>
            <hr>
    </section>

</form>
<br>
<p>Total {{rest.menus[menuIndex].type}} items: {{rest.menus[menuIndex].menu.length}}</p><br>
<br>
<p>MENU NOTES:</p> <p><textarea ng-model="rest.notes" cols="30" rows="5"></textarea></p>
<br>
<a href="#/rests/{{rest._id}}"><button ng-click="editRest(rest)">(SUBMIT CHANGES)</button></a>

<hr>

<!-- SAMPLE MENU VIEW -->
<h2><section ng-repeat="menu in rest.menus track by $index">
    <h2> MENU {{$index}}: {{menu.type}} </h2>

    <section ng-repeat="item in menu.menu track by $index">
        <h3><p>ITEM: {{item.name}} {{item.description}} {{item.price}}</p></h3>
    </section>

</section></h2>
</div>
<!-- SAMPLE MENU VIEW END-->
