<div class="offCanvas" ng-click="isActive = !isActive"  ng-class="{'active': isActive == true}"><div class="tagCan" style="background-color:rgba(255,0,0,.7);" >
    <ul>
        <li><a href="#/rests/new" class="navButt">Create New Restaurant</a></li>
        <li><a href="#/rests/{{rest._id}}/edit">Edit Restaurant</a></li>
        <li><a href="#/rests/{{rest._id}}/editMenu">Edit Menu</a></li>
        <li><a href="" ng-click="deleteRest(rest._id)">Delete</a></li>
        <li><a ng-href="#">Admin Logout</a></li>
    </ul>
    <a href="#/admin"><img src="../images/logo.png"></a>
</div>
<i style="color:red" class="fa fa-caret-right tag"></i>
</div>



<div class="show">

    <section class="info">
        <h1>{{rest.name}}<br></h1>
        <p><a ng-show="rest.number != null" href="tel:{{rest.number}}">{{rest.number}}</a></p>
        <p><a ng-show="rest.address != null" href="http://mapof.it/{{rest.address}}" target="_blank">{{rest.address}}</a></p>
        <p><a ng-show="rest.site != null" href="http://{{rest.site}}">Website</a></p>
        <p><a ng-show="rest.openTable != null" href="{{rest.openTable}}" target="_blank">Open Table reservation</a></p>
    </section>

    <div class="filters">
        <p style="color:white; font-size:.8em;">
            <span style="font-weight:light;">Sort by:</span>
            <a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a>
            <a href="" ng-click="predicate = 'vote'; reverse=!reverse">Votes</a>
            <a href="" ng-click="predicate = 'price'; reverse=!reverse">Price</a>
            &nbsp;&nbsp;<input type="text" ng-model="search"><i class="fa fa-search"></i>
        </p>
    </div>



    <div class="menuItems">
        <section ng-repeat="menu in rest.menus"  ng-class-odd="'odd'">
            <h2 style="text-transform:uppercase;">{{menu.type}}</h2>
            <section ng-repeat="item in menu.menu | orderBy:predicate:reverse  | filter:search" >
                <p>

                    <div class="votes"><button ng-click="item.vote = item.vote + 1; editRest(rest); disabled = !disabled; yes=!yes" ng-disabled = "disabled"><i class="fa fa-thumbs-up" ng-class="{'thumbUp': yes === true}"></i></button>
                        <span ng-class="{'thumbDown' : item.vote<0}" data-ng-model="item.vote">{{item.vote}}</span>
                        <button ng-click="item.vote = item.vote - 1; editRest(rest); disabled = !disabled; no=!no" ng-disabled = "disabled"><i class="fa fa-thumbs-down" ng-class="{'thumbDown': no === true}"></i></button></div>

                        <div class="name"><span style="text-transform:uppercase;">{{item.name}}</span><br> {{item.description}}</div>
                        <div class="price">{{item.price}}</div>
                    </p>
                </section>
            </section>
        </div>
        <div class="menuNotes"> {{rest.notes}} <br><i ng-click="addToList(rest); changeClass(); addAlert()" ng-disabled="disabled" class="fa fa-plus-square fa-3x"></i> </div>

    </div>
