<div class="show" style="background-image:url('{{rest.image}}')">

<section class="info">
    <a ng-href="#/admin">Home</a>
    <h1>{{rest.name}}</h1>
    <p>{{rest.number}}</p>
    <p><a href="http://mapof.it/{{rest.address}}" target="_blank">{{rest.address}}</a></p>
    <p><a href="{{rest.site}}" target="_blank">{{rest.site}}</a></p>

    <a href="#/rests/{{rest._id}}/edit">Edit</a> |
    <a href="#/rests/{{rest._id}}/editMenu">Edit MENU</a>  | <a ng-click="deleteRest(rest._id)">Delete</a>
</section>

    <div class="menuItems">
      <section ng-repeat="item in rest.menu">
        <p>
            <button ng-click="item.vote = item.vote + 1; editRest(rest); disabled = !disabled;" ng-disabled = "disabled" ng-class="thumbUp"><i class="fa fa-thumbs-up"></i></button>
            <span data-ng-model="item.vote">{{item.vote}}</span>
            <button ng-click="item.vote = item.vote - 1; editRest(rest); disabled = !disabled;" ng-disabled = "disabled" ng-class="thumbDown"><i class="fa fa-thumbs-down"></i></button>
             <span>{{item.name}}</span> ...{{item.description}} {{item.price | currency}}

            </p>

      </section>
    </div>
</div>
