<div class="offCanvas" ng-click="isActive = !isActive"  ng-class="{'active': isActive == true}"><div class="tagCan">
    <ul>
        <li><a href="" ng-click="isCollapsed = !isCollapsed">Sign In <i class="fa fa-user"></i></a>
            <div collapse="isCollapsed">
                <form ng-submit="login(username, password)">
                    <p>User: <input type="text" ng-model="username" class="ng-pristine ng-valid"></p>
                    <p>Pass: <input type="password" ng-model="password" class="ng-pristine ng-valid"></p>
                    <button type="submit"><i class="fa fa-check-square"></i></button>
                    <br/>{{loginError}}
                </form>
            </div></li>
            <li><a ng-href="#/userlist" ng-click="hideModal()">Dine List <i class="fa fa-cutlery"></i> ({{userList.length}})</a></li>
            <li>
                <a href="" ng-click="isCollapse = !isCollapse">Contact <i class="fa fa-paper-plane"></i></a>
                <div collapse="isCollapse">
                    <p>Hello! Thanks for checking my app out. Contact me at: </p><p><a href="mailto:charles.qh.nguyen@gmail.com">charles.qh.nguyen@gmail.com</a></p>
                </div>

            </li>
        </ul>
        <a href="#"><img src="../images/logo.png"></a>
    </div>
    <i class="fa fa-caret-right tag"></i>
</div>
                                        <!-- END SIDE MENU -->



<div id="alert"></div>

<div class="show">

    <section class="info">
        <h1>{{rest.name}}<br></h1>
        <p><a ng-show="rest.number != null" href="tel:{{rest.number}}">{{rest.number}}</a></p>
        <p><a ng-show="rest.address != null" href="http://mapof.it/{{rest.address}}" target="_blank">{{rest.address}}</a></p>
        <p><a ng-show="rest.site != null" href="http://{{rest.site}}">Website</a></p>
        <p><a ng-show="rest.openTable != ''" href="{{rest.openTable}}" target="_blank">Open Table reservation</a></p>

        <div class="filters">
            <p style="font-size:.8em;">
                <span style="font-weight:light;">Sort by:</span>
                <a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a>
                <a href="" ng-click="predicate = 'vote'; reverse=!reverse">Votes</a>
                <a href="" ng-click="predicate = 'price'; reverse=!reverse">Price</a>
                &nbsp;&nbsp;<input type="text" ng-model="search"><i class="fa fa-search"></i>
            </p>
        </div>

    </section>





    <div class="menuItems">
        <section ng-repeat="menu in rest.menus"  ng-class-odd="'odd'">
            <h2 style="text-transform:uppercase;">{{menu.type}}</h2>
            <section ng-repeat="item in menu.menu | orderBy:predicate:reverse  | filter:search" >
                <p>

                    <div class="votes"><button ng-click="item.vote = item.vote + 1; editRest(rest); disabled = !disabled; yes=!yes" ng-disabled = "disabled"><i class="fa fa-thumbs-up" ng-class="{'thumbUp': yes === true}"></i></button>
                        <span ng-class="{'thumbDown' : item.vote<0}" data-ng-model="item.vote">{{item.vote}}</span>
                        <button ng-click="item.vote = item.vote - 1; editRest(rest); disabled = !disabled; no=!no" ng-disabled = "disabled"><i class="fa fa-thumbs-down" ng-class="{'thumbDown': no === true}"></i></button></div>

                        <div class="name"><span style="text-transform:uppercase;">{{item.name}}</span><br> {{item.description}}</div>
                        <div class="price">{{item.price}}</div>
                    </p>
                </section>
            </section>
        </div>
        <div class="menuNotes"> {{rest.notes}} <br><i ng-click="addToList(rest); changeClass(); addAlert()" ng-disabled="disabled" class="fa fa-plus-square fa-3x"></i> </div>

    </div>
